*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    background-color: rgb(252, 252, 210);
    border: 1px solid black;
}

.pixel {
    aspect-ratio: 1; /* make it square */
    background-color: white;
    border: 1px solid black;
}
