*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(212, 255, 212);
}

header {
    text-align: center;
    background-color: rgb(255, 255, 208);
    padding: 1em;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: clamp(300px, 100%, 85vh);
    background-color: rgb(252, 252, 210);
    border: 1px solid black;
}

.pixel {
    aspect-ratio: 1; /* make it square */
    background-color: white;
}

.controls {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: clamp(300px, 100%, 85vh);
    padding: 1em;
    background-color: pink;
    font-size: 20px;
}

h2 {
    margin-bottom: 0.5em;
}

#grid-size-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

#grid-size-form input {
    flex: 1;
    height: 36px;
    font-size: 16px;
    margin-left: 10px;
}

#grid-size-form button {
    height: 36px;
    font-size: 16px;
}

/* --- Toggle Switch Component --- */
.toggle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    /* background-color: yellow;
    border: 1px solid red; */
    margin: 5px 0;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Unchecked color */
  transition: .4s;
}

/* The knob */
.slider:before { 
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3; /* Checked color */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px); /* Knob to right */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --- End Toggle Switch Component --- */